/*
* Mixin for easy media queries
* @include bp(tablet-only) { SCSS here };
* Default css is for mobile screens
*/
.st-row {
  --bs-gutter-x:3rem;
  --bs-gutter-y:0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.st-row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.st-col {
  flex: 1 0 0%;
}

.st-col-auto {
  flex: 0 0 auto;
  width: auto;
}

.st-col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

.st-col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.st-col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.st-col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.st-col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.st-col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.st-col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.st-col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.st-col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.st-col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.st-col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

.st-col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.st-d-block {
  display: block !important;
}

.st-d-flex {
  display: flex !important;
}

.st-d-inline-flex {
  display: inline-flex !important;
}

.st-d-none {
  display: none !important;
}

.st-justify-content-start {
  justify-content: flex-start !important;
}

.st-justify-content-end {
  justify-content: flex-end !important;
}

.st-justify-content-center {
  justify-content: center !important;
}

.st-justify-content-between {
  justify-content: space-between !important;
}

.st-justify-content-around {
  justify-content: space-around !important;
}

.st-justify-content-evenly {
  justify-content: space-evenly !important;
}

.st-align-items-start {
  align-items: flex-start !important;
}

.st-align-items-end {
  align-items: flex-end !important;
}

.st-align-items-center {
  align-items: center !important;
}

.st-align-items-baseline {
  align-items: baseline !important;
}

.st-align-items-stretch {
  align-items: stretch !important;
}

.st-align-content-start {
  align-content: flex-start !important;
}

.st-align-content-end {
  align-content: flex-end !important;
}

.st-align-content-center {
  align-content: center !important;
}

.st-align-content-between {
  align-content: space-between !important;
}

.st-align-content-around {
  align-content: space-around !important;
}

.st-align-content-stretch {
  align-content: stretch !important;
}

.st-align-self-auto {
  align-self: auto !important;
}

.st-align-self-start {
  align-self: flex-start !important;
}

.st-align-self-end {
  align-self: flex-end !important;
}

.st-align-self-center {
  align-self: center !important;
}

.st-align-self-baseline {
  align-self: baseline !important;
}

.st-align-self-stretch {
  align-self: stretch !important;
}

.st-text-start {
  text-align: left !important;
}

.st-text-end {
  text-align: right !important;
}

.st-text-center {
  text-align: center !important;
}

@media (min-width: 576px) {
  .st-col-sm {
    flex: 1 0 0%;
  }
  .st-col-sm-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .st-col-sm-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .st-col-sm-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .st-col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .st-col-sm-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .st-col-sm-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .st-col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .st-col-sm-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .st-col-sm-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .st-col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .st-col-sm-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .st-col-sm-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .st-col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .st-d-sm-block {
    display: block !important;
  }
  .st-d-sm-flex {
    display: flex !important;
  }
  .st-d-sm-inline-flex {
    display: inline-flex !important;
  }
  .st-d-sm-none {
    display: none !important;
  }
  .st-justify-content-sm-start {
    justify-content: flex-start !important;
  }
  .st-justify-content-sm-end {
    justify-content: flex-end !important;
  }
  .st-justify-content-sm-center {
    justify-content: center !important;
  }
  .st-justify-content-sm-between {
    justify-content: space-between !important;
  }
  .st-justify-content-sm-around {
    justify-content: space-around !important;
  }
  .st-justify-content-sm-evenly {
    justify-content: space-evenly !important;
  }
  .st-align-items-sm-start {
    align-items: flex-start !important;
  }
  .st-align-items-sm-end {
    align-items: flex-end !important;
  }
  .st-align-items-sm-center {
    align-items: center !important;
  }
  .st-align-items-sm-baseline {
    align-items: baseline !important;
  }
  .st-align-items-sm-stretch {
    align-items: stretch !important;
  }
  .st-align-content-sm-start {
    align-content: flex-start !important;
  }
  .st-align-content-sm-end {
    align-content: flex-end !important;
  }
  .st-align-content-sm-center {
    align-content: center !important;
  }
  .st-align-content-sm-between {
    align-content: space-between !important;
  }
  .st-align-content-sm-around {
    align-content: space-around !important;
  }
  .st-align-content-sm-stretch {
    align-content: stretch !important;
  }
  .st-align-self-sm-auto {
    align-self: auto !important;
  }
  .st-align-self-sm-start {
    align-self: flex-start !important;
  }
  .st-align-self-sm-end {
    align-self: flex-end !important;
  }
  .st-align-self-sm-center {
    align-self: center !important;
  }
  .st-align-self-sm-baseline {
    align-self: baseline !important;
  }
  .st-align-self-sm-stretch {
    align-self: stretch !important;
  }
  .st-text-sm-start {
    text-align: left !important;
  }
  .st-text-sm-end {
    text-align: right !important;
  }
  .st-text-sm-center {
    text-align: center !important;
  }
}
@media (min-width: 750px) {
  .st-col-md {
    flex: 1 0 0%;
  }
  .st-col-md-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .st-col-md-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .st-col-md-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .st-col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .st-col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .st-col-md-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .st-col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .st-col-md-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .st-col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .st-col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .st-col-md-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .st-col-md-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .st-col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .st-d-md-block {
    display: block !important;
  }
  .st-d-md-flex {
    display: flex !important;
  }
  .st-d-md-inline-flex {
    display: inline-flex !important;
  }
  .st-d-md-none {
    display: none !important;
  }
  .st-justify-content-md-start {
    justify-content: flex-start !important;
  }
  .st-justify-content-md-end {
    justify-content: flex-end !important;
  }
  .st-justify-content-md-center {
    justify-content: center !important;
  }
  .st-justify-content-md-between {
    justify-content: space-between !important;
  }
  .st-justify-content-md-around {
    justify-content: space-around !important;
  }
  .st-justify-content-md-evenly {
    justify-content: space-evenly !important;
  }
  .st-align-items-md-start {
    align-items: flex-start !important;
  }
  .st-align-items-md-end {
    align-items: flex-end !important;
  }
  .st-align-items-md-center {
    align-items: center !important;
  }
  .st-align-items-md-baseline {
    align-items: baseline !important;
  }
  .st-align-items-md-stretch {
    align-items: stretch !important;
  }
  .st-align-content-md-start {
    align-content: flex-start !important;
  }
  .st-align-content-md-end {
    align-content: flex-end !important;
  }
  .st-align-content-md-center {
    align-content: center !important;
  }
  .st-align-content-md-between {
    align-content: space-between !important;
  }
  .st-align-content-md-around {
    align-content: space-around !important;
  }
  .st-align-content-md-stretch {
    align-content: stretch !important;
  }
  .st-align-self-md-auto {
    align-self: auto !important;
  }
  .st-align-self-md-start {
    align-self: flex-start !important;
  }
  .st-align-self-md-end {
    align-self: flex-end !important;
  }
  .st-align-self-md-center {
    align-self: center !important;
  }
  .st-align-self-md-baseline {
    align-self: baseline !important;
  }
  .st-align-self-md-stretch {
    align-self: stretch !important;
  }
  .st-text-md-start {
    text-align: left !important;
  }
  .st-text-md-end {
    text-align: right !important;
  }
  .st-text-md-center {
    text-align: center !important;
  }
}
@media (min-width: 990px) {
  .st-col-lg {
    flex: 1 0 0%;
  }
  .st-col-lg-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .st-col-lg-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .st-col-lg-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .st-col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .st-col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .st-col-lg-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .st-col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .st-col-lg-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .st-col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .st-col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .st-col-lg-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .st-col-lg-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .st-col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .st-d-lg-block {
    display: block !important;
  }
  .st-d-lg-flex {
    display: flex !important;
  }
  .st-d-lg-inline-flex {
    display: inline-flex !important;
  }
  .st-d-lg-none {
    display: none !important;
  }
  .st-justify-content-lg-start {
    justify-content: flex-start !important;
  }
  .st-justify-content-lg-end {
    justify-content: flex-end !important;
  }
  .st-justify-content-lg-center {
    justify-content: center !important;
  }
  .st-justify-content-lg-between {
    justify-content: space-between !important;
  }
  .st-justify-content-lg-around {
    justify-content: space-around !important;
  }
  .st-justify-content-lg-evenly {
    justify-content: space-evenly !important;
  }
  .st-align-items-lg-start {
    align-items: flex-start !important;
  }
  .st-align-items-lg-end {
    align-items: flex-end !important;
  }
  .st-align-items-lg-center {
    align-items: center !important;
  }
  .st-align-items-lg-baseline {
    align-items: baseline !important;
  }
  .st-align-items-lg-stretch {
    align-items: stretch !important;
  }
  .st-align-content-lg-start {
    align-content: flex-start !important;
  }
  .st-align-content-lg-end {
    align-content: flex-end !important;
  }
  .st-align-content-lg-center {
    align-content: center !important;
  }
  .st-align-content-lg-between {
    align-content: space-between !important;
  }
  .st-align-content-lg-around {
    align-content: space-around !important;
  }
  .st-align-content-lg-stretch {
    align-content: stretch !important;
  }
  .st-align-self-lg-auto {
    align-self: auto !important;
  }
  .st-align-self-lg-start {
    align-self: flex-start !important;
  }
  .st-align-self-lg-end {
    align-self: flex-end !important;
  }
  .st-align-self-lg-center {
    align-self: center !important;
  }
  .st-align-self-lg-baseline {
    align-self: baseline !important;
  }
  .st-align-self-lg-stretch {
    align-self: stretch !important;
  }
  .st-text-lg-start {
    text-align: left !important;
  }
  .st-text-lg-end {
    text-align: right !important;
  }
  .st-text-lg-center {
    text-align: center !important;
  }
}
@media (min-width: 1200px) {
  .st-col-xl {
    flex: 1 0 0%;
  }
  .st-col-xl-auto, .st-row-cols-xl-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .st-col-xl-12, .st-row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .st-col-xl-6, .st-row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .st-row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .st-col-xl-3, .st-row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .st-row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .st-row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .st-col-xl-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .st-col-xl-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .st-col-xl-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .st-col-xl-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .st-col-xl-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .st-col-xl-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .st-col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .st-col-xl-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .st-col-xl-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .st-d-xl-block {
    display: block !important;
  }
  .st-d-xl-flex {
    display: flex !important;
  }
  .st-d-xl-inline-flex {
    display: inline-flex !important;
  }
  .st-d-xl-none {
    display: none !important;
  }
  .st-justify-content-xl-start {
    justify-content: flex-start !important;
  }
  .st-justify-content-xl-end {
    justify-content: flex-end !important;
  }
  .st-justify-content-xl-center {
    justify-content: center !important;
  }
  .st-justify-content-xl-between {
    justify-content: space-between !important;
  }
  .st-justify-content-xl-around {
    justify-content: space-around !important;
  }
  .st-justify-content-xl-evenly {
    justify-content: space-evenly !important;
  }
  .st-align-items-xl-start {
    align-items: flex-start !important;
  }
  .st-align-items-xl-end {
    align-items: flex-end !important;
  }
  .st-align-items-xl-center {
    align-items: center !important;
  }
  .st-align-items-xl-baseline {
    align-items: baseline !important;
  }
  .st-align-items-xl-stretch {
    align-items: stretch !important;
  }
  .st-align-content-xl-start {
    align-content: flex-start !important;
  }
  .st-align-content-xl-end {
    align-content: flex-end !important;
  }
  .st-align-content-xl-center {
    align-content: center !important;
  }
  .st-align-content-xl-between {
    align-content: space-between !important;
  }
  .st-align-content-xl-around {
    align-content: space-around !important;
  }
  .st-align-content-xl-stretch {
    align-content: stretch !important;
  }
  .st-align-self-xl-auto {
    align-self: auto !important;
  }
  .st-align-self-xl-start {
    align-self: flex-start !important;
  }
  .st-align-self-xl-end {
    align-self: flex-end !important;
  }
  .st-align-self-xl-center {
    align-self: center !important;
  }
  .st-align-self-xl-baseline {
    align-self: baseline !important;
  }
  .st-align-self-xl-stretch {
    align-self: stretch !important;
  }
  .st-text-xl-start {
    text-align: left !important;
  }
  .st-text-xl-end {
    text-align: right !important;
  }
  .st-text-xl-center {
    text-align: center !important;
  }
}
@media (min-width: 1400px) {
  .st-col-xxl {
    flex: 1 0 0%;
  }
  .st-col-xxl-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .st-col-xxl-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .st-col-xxl-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .st-col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .st-col-xxl-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .st-col-xxl-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .st-col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .st-col-xxl-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .st-col-xxl-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .st-col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .st-col-xxl-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .st-col-xxl-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .st-col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .st-d-xxl-block {
    display: block !important;
  }
  .st-d-xxl-flex {
    display: flex !important;
  }
  .st-d-xxl-inline-flex {
    display: inline-flex !important;
  }
  .st-d-xxl-none {
    display: none !important;
  }
  .st-justify-content-xxl-start {
    justify-content: flex-start !important;
  }
  .st-justify-content-xxl-end {
    justify-content: flex-end !important;
  }
  .st-justify-content-xxl-center {
    justify-content: center !important;
  }
  .st-justify-content-xxl-between {
    justify-content: space-between !important;
  }
  .st-justify-content-xxl-around {
    justify-content: space-around !important;
  }
  .st-justify-content-xxl-evenly {
    justify-content: space-evenly !important;
  }
  .st-align-items-xxl-start {
    align-items: flex-start !important;
  }
  .st-align-items-xxl-end {
    align-items: flex-end !important;
  }
  .st-align-items-xxl-center {
    align-items: center !important;
  }
  .st-align-items-xxl-baseline {
    align-items: baseline !important;
  }
  .st-align-items-xxl-stretch {
    align-items: stretch !important;
  }
  .st-align-content-xxl-start {
    align-content: flex-start !important;
  }
  .st-align-content-xxl-end {
    align-content: flex-end !important;
  }
  .st-align-content-xxl-center {
    align-content: center !important;
  }
  .st-align-content-xxl-between {
    align-content: space-between !important;
  }
  .st-align-content-xxl-around {
    align-content: space-around !important;
  }
  .st-align-content-xxl-stretch {
    align-content: stretch !important;
  }
  .st-align-self-xxl-auto {
    align-self: auto !important;
  }
  .st-align-self-xxl-start {
    align-self: flex-start !important;
  }
  .st-align-self-xxl-end {
    align-self: flex-end !important;
  }
  .st-align-self-xxl-center {
    align-self: center !important;
  }
  .st-align-self-xxl-baseline {
    align-self: baseline !important;
  }
  .st-align-self-xxl-stretch {
    align-self: stretch !important;
  }
  .st-text-xxl-start {
    text-align: left !important;
  }
  .st-text-xxl-end {
    text-align: right !important;
  }
  .st-text-xxl-center {
    text-align: center !important;
  }
}
.header__icon--menu {
  position: initial;
}

.js menu-drawer > details > summary::before,
.js menu-drawer > details[open]:not(.menu-opening) > summary::before {
  content: "";
  position: absolute;
  cursor: default;
  width: 100%;
  height: calc(100vh - 100%);
  height: calc(var(--viewport-height, 100vh) - (var(--header-bottom-position, 100%)));
  top: 100%;
  left: 0;
  background: rgba(var(--color-foreground), 0.5);
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  transition: opacity 0s, visibility 0s;
}

menu-drawer > details[open] > summary::before {
  visibility: visible;
  opacity: 1;
  transition: opacity var(--duration-default) ease, visibility var(--duration-default) ease;
}

.menu-drawer {
  position: absolute;
  transform: translateX(-100%);
  visibility: hidden;
  z-index: 3;
  left: 0;
  top: 100%;
  width: 100%;
  padding: 0;
  background-color: rgb(var(--color-background));
  overflow-x: hidden;
  filter: drop-shadow(var(--drawer-shadow-horizontal-offset) var(--drawer-shadow-vertical-offset) var(--drawer-shadow-blur-radius) rgba(var(--color-shadow), var(--drawer-shadow-opacity)));
}

.js .menu-drawer {
  height: calc(100vh - 100%);
  height: calc(var(--viewport-height, 100vh) - (var(--header-bottom-position, 100%)));
}

.js details[open] > .menu-drawer,
.js details[open] > .menu-drawer__submenu {
  transition: transform var(--duration-default) ease, visibility var(--duration-default) ease;
}

.js details[open].menu-opening > .menu-drawer,
details[open].menu-opening > .menu-drawer__submenu {
  transform: translateX(0);
  visibility: visible;
}

.js .menu-drawer__navigation .submenu-open {
  visibility: hidden; /* hide menus from screen readers when hidden by submenu */
}

@media screen and (min-width: 750px) {
  .menu-drawer {
    width: 40rem;
    border-width: 0 var(--drawer-border-width) 0 0;
    border-style: solid;
    border-color: rgba(var(--color-foreground), var(--drawer-border-opacity));
  }
}
.list-menu.list-menu-secondary li a, .list-menu.list-menu-secondary li details summary {
  font-weight: 400;
  color: #273CFF;
}
.list-menu.list-menu-secondary .menu-item .title {
  font-weight: 400;
}

.menu-drawer__inner-container {
  position: relative;
  height: 100%;
  box-shadow: inset 5px 5px 35px -20px rgb(61, 61, 61);
}
.menu-drawer__inner-container .wholesale-wrap {
  padding: 0rem 3rem;
}
.menu-drawer__inner-container .wholesale-wrap .wholesale-wrap__inner {
  border-bottom: 1px solid #ccc;
  padding: 3.8rem 0;
  display: flex;
  justify-content: space-between;
}
.all-icon-wrapper-top .menu-drawer__inner-container .wholesale-wrap .wholesale-login, .all-icon-wrapper-top .menu-drawer__inner-container .wholesale-wrap .header__icons {
  display: flex;
}
.menu-drawer__inner-container .wholesale-wrap .wholesale-login {
  text-align: left;
}
.menu-drawer__inner-container .wholesale-wrap .phone-wrapper {
  margin-top: 2.4rem;
  display: block;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.menu-drawer__inner-container .wholesale-wrap .phone-wrapper .detail {
  color: #0D112C;
}

.menu-drawer__navigation-container {
  display: grid;
  grid-template-rows: 1fr auto;
  align-content: space-between;
  overflow-y: auto;
}

.menu-drawer__navigation {
  padding: 3rem 0;
}

.menu-drawer__inner-submenu {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: inset 5px 5px 35px -20px rgb(61, 61, 61);
}
.menu-drawer__inner-submenu .menu-drawer__close-button {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.4rem;
  background: none !important;
}
.menu-drawer__inner-submenu .menu-drawer__close-button .icon {
  transform: rotate(90deg);
  max-width: 1rem;
  margin-right: 1rem;
  width: 100%;
  display: inline-flex;
}
.menu-drawer__inner-submenu .menu-item {
  padding: 4rem 3rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.menu-drawer__inner-submenu .menu-item .title {
  margin: 0;
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #273CFF;
  font-weight: 600;
}
.menu-drawer__inner-submenu .menu-item .icon {
  transform: rotate(-180deg);
  width: 1rem;
  display: inline-block;
}
.menu-drawer__inner-submenu .submenu-items {
  padding: 0 3rem;
  font-size: 1.4rem;
}
.menu-drawer__inner-submenu .submenu-items .header-link {
  font-weight: 700;
  text-transform: uppercase;
  color: #0D112C;
  margin-bottom: 1.6rem;
  display: inline-block;
}
.menu-drawer__inner-submenu .submenu-items ul {
  list-style: none;
  padding-left: 0;
}
.menu-drawer__inner-submenu .submenu-items ul li {
  margin-bottom: 1.6rem;
}
.menu-drawer__inner-submenu .submenu-items ul li a {
  color: #0D112C;
}
.menu-drawer__inner-submenu .block-banner {
  padding: 1rem 3rem;
}
.menu-drawer__inner-submenu .block-banner .mega-menu-right__box .bestsellerofyear {
  background: #0C0257;
}
.menu-drawer__inner-submenu .block-banner .mega-menu-right__box .bestsellerofyear .floating-tag {
  top: -4rem;
}
.menu-drawer__inner-submenu .block-banner .mega-menu-right__box .bestsellerofyear .floating-tag .floating-tag__content {
  top: 65%;
}
.menu-drawer__inner-submenu .block-banner .mega-menu-right__box .bestsellerofyear .d360-details {
  padding: 2rem 2rem 6rem;
}
.menu-drawer__inner-submenu .block-banner .mega-menu-right__box .bestsellerofyear .d360-details .image-holder {
  margin-top: -1rem;
  width: 48%;
}
.menu-drawer__inner-submenu .block-banner .mega-menu-right__box .bestsellerofyear .d360-details .content-holder__box h2 {
  font-size: 1.8rem;
  font-weight: 500;
  max-width: 18rem;
}
.menu-drawer__inner-submenu .block-banner .mega-menu-right__box .bestsellerofyear .d360-details .content-holder__box .btn {
  color: #0D112C;
}
.menu-drawer__inner-submenu .block-banner .megamenu_list-wrapper .section-heading .title-wrapper {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-bottom: 1.6rem;
}
.menu-drawer__inner-submenu .block-banner .megamenu_list-wrapper .section-heading .title-wrapper .title {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 400;
}
.menu-drawer__inner-submenu .block-banner .megamenu_list-wrapper .section-heading .title-wrapper .title b, .menu-drawer__inner-submenu .block-banner .megamenu_list-wrapper .section-heading .title-wrapper .title strong {
  color: #273CFF;
  font-weight: 600;
  display: block;
}
.menu-drawer__inner-submenu .block-banner .megamenu_list-wrapper .section-heading .description {
  border-bottom: 1px solid #ccc;
}
.menu-drawer__inner-submenu .block-banner .megamenu_list-wrapper .section-heading .description p:not(:last-child) {
  margin-bottom: 1.6rem;
}
.menu-drawer__inner-submenu .block-banner .megamenu_list-wrapper .section-heading .description a {
  font-weight: 600;
}
.menu-drawer__inner-submenu .block-banner .megamenu_list-wrapper .card-items {
  padding-bottom: 4rem;
}
.menu-drawer__inner-submenu .block-banner .megamenu_list-wrapper .card-items .card-item:not(:last-child) {
  margin-bottom: 4rem;
}
.menu-drawer__inner-submenu .block-banner .megamenu_list-wrapper .card-items .card-item .title {
  margin-top: 1.6rem;
  margin-bottom: 0;
}
.menu-drawer__inner-submenu .block-banner .megamenu_list-wrapper .card-items .card-item .title a {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
  display: inline-flex;
  gap: 1rem;
  color: #0D112C;
}

.js .menu-drawer__menu li {
  margin-bottom: 0.2rem;
}

.menu-drawer__menu-item {
  padding: 1.1rem 3rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 0.5px;
  font-weight: 600;
}

.menu-drawer summary.menu-drawer__menu-item {
  padding-right: 5.2rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 0.5px;
  font-weight: 600;
  align-items: center;
  gap: 1rem;
}

.menu-drawer__menu-item--active,
.menu-drawer__menu-item:focus,
.menu-drawer__close-button:focus,
.menu-drawer__menu-item:hover,
.menu-drawer__close-button:hover {
  color: rgb(var(--color-foreground));
  background-color: rgba(var(--color-foreground), 0.04);
}

.menu-drawer__menu-item--active:hover {
  background-color: rgba(var(--color-foreground), 0.08);
}

.js .menu-drawer__menu-item .icon-caret {
  position: static;
  margin-top: 5px;
}

.menu-drawer__menu-item > .icon-arrow {
  position: absolute;
  right: 3rem;
  top: 50%;
  transform: translateY(-50%);
}

.js .menu-drawer__submenu {
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: rgb(var(--color-background));
  z-index: 1;
  transform: translateX(100%);
  visibility: hidden;
}

.js .menu-drawer__submenu .menu-drawer__submenu {
  overflow-y: auto;
}

.menu-drawer__close-button {
  margin-top: 1.5rem;
  padding: 1.2rem 2.6rem 1.2rem 3rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  width: 100%;
  background-color: transparent;
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  text-align: left;
}

.menu-drawer__close-button .icon-arrow {
  transform: rotate(180deg);
  margin-right: 1rem;
}

.menu-drawer__utility-links {
  padding: 0;
  background-color: rgba(var(--color-foreground), 0.03);
  position: relative;
  display: none;
}

.header--has-social .menu-drawer__utility-links {
  padding: 2rem 3rem;
}

@media screen and (max-width: 749px) {
  .header--has-account:where(:not(.header--has-social):not(.header--has-localizations)) .menu-drawer__utility-links {
    padding: 2rem 3rem;
  }
}
@media screen and (max-width: 989px) {
  .header--has-localizations:where(:not(.header--has-social)) .menu-drawer__utility-links {
    padding: 2rem 3rem;
  }
}
.menu-drawer__account {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  padding: 1rem 0;
  font-size: 1.4rem;
  color: rgb(var(--color-foreground));
  margin-bottom: 0;
}

.menu-drawer__utility-links:has(.menu-drawer__localization) .menu-drawer__account {
  margin: 0;
}

.menu-drawer__account .icon-account {
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}

.menu-drawer__account:hover .icon-account {
  transform: scale(1.07);
}

.menu-drawer .list-social {
  justify-content: flex-start;
  margin-left: -1.25rem;
}

.menu-drawer .list-social:empty {
  display: none;
}

.menu-drawer .list-social__link {
  padding: 1.1rem 1.1rem;
}

@media screen and (max-width: 749px) {
  .menu-drawer.country-selector-open {
    transform: none !important;
    filter: none !important;
    transition: none !important;
  }
}
