/*
* Mixin for easy media queries
* @include bp(tablet-only) { SCSS here };
* Default css is for mobile screens
*/
.st-row {
  --bs-gutter-x:3rem;
  --bs-gutter-y:0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.st-row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.st-col {
  flex: 1 0 0%;
}

.st-col-auto {
  flex: 0 0 auto;
  width: auto;
}

.st-col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

.st-col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.st-col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.st-col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.st-col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.st-col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.st-col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.st-col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.st-col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.st-col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.st-col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

.st-col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.st-d-block {
  display: block !important;
}

.st-d-flex {
  display: flex !important;
}

.st-d-inline-flex {
  display: inline-flex !important;
}

.st-d-none {
  display: none !important;
}

.st-justify-content-start {
  justify-content: flex-start !important;
}

.st-justify-content-end {
  justify-content: flex-end !important;
}

.st-justify-content-center {
  justify-content: center !important;
}

.st-justify-content-between {
  justify-content: space-between !important;
}

.st-justify-content-around {
  justify-content: space-around !important;
}

.st-justify-content-evenly {
  justify-content: space-evenly !important;
}

.st-align-items-start {
  align-items: flex-start !important;
}

.st-align-items-end {
  align-items: flex-end !important;
}

.st-align-items-center {
  align-items: center !important;
}

.st-align-items-baseline {
  align-items: baseline !important;
}

.st-align-items-stretch {
  align-items: stretch !important;
}

.st-align-content-start {
  align-content: flex-start !important;
}

.st-align-content-end {
  align-content: flex-end !important;
}

.st-align-content-center {
  align-content: center !important;
}

.st-align-content-between {
  align-content: space-between !important;
}

.st-align-content-around {
  align-content: space-around !important;
}

.st-align-content-stretch {
  align-content: stretch !important;
}

.st-align-self-auto {
  align-self: auto !important;
}

.st-align-self-start {
  align-self: flex-start !important;
}

.st-align-self-end {
  align-self: flex-end !important;
}

.st-align-self-center {
  align-self: center !important;
}

.st-align-self-baseline {
  align-self: baseline !important;
}

.st-align-self-stretch {
  align-self: stretch !important;
}

.st-text-start {
  text-align: left !important;
}

.st-text-end {
  text-align: right !important;
}

.st-text-center {
  text-align: center !important;
}

@media (min-width: 576px) {
  .st-col-sm {
    flex: 1 0 0%;
  }
  .st-col-sm-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .st-col-sm-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .st-col-sm-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .st-col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .st-col-sm-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .st-col-sm-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .st-col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .st-col-sm-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .st-col-sm-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .st-col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .st-col-sm-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .st-col-sm-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .st-col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .st-d-sm-block {
    display: block !important;
  }
  .st-d-sm-flex {
    display: flex !important;
  }
  .st-d-sm-inline-flex {
    display: inline-flex !important;
  }
  .st-d-sm-none {
    display: none !important;
  }
  .st-justify-content-sm-start {
    justify-content: flex-start !important;
  }
  .st-justify-content-sm-end {
    justify-content: flex-end !important;
  }
  .st-justify-content-sm-center {
    justify-content: center !important;
  }
  .st-justify-content-sm-between {
    justify-content: space-between !important;
  }
  .st-justify-content-sm-around {
    justify-content: space-around !important;
  }
  .st-justify-content-sm-evenly {
    justify-content: space-evenly !important;
  }
  .st-align-items-sm-start {
    align-items: flex-start !important;
  }
  .st-align-items-sm-end {
    align-items: flex-end !important;
  }
  .st-align-items-sm-center {
    align-items: center !important;
  }
  .st-align-items-sm-baseline {
    align-items: baseline !important;
  }
  .st-align-items-sm-stretch {
    align-items: stretch !important;
  }
  .st-align-content-sm-start {
    align-content: flex-start !important;
  }
  .st-align-content-sm-end {
    align-content: flex-end !important;
  }
  .st-align-content-sm-center {
    align-content: center !important;
  }
  .st-align-content-sm-between {
    align-content: space-between !important;
  }
  .st-align-content-sm-around {
    align-content: space-around !important;
  }
  .st-align-content-sm-stretch {
    align-content: stretch !important;
  }
  .st-align-self-sm-auto {
    align-self: auto !important;
  }
  .st-align-self-sm-start {
    align-self: flex-start !important;
  }
  .st-align-self-sm-end {
    align-self: flex-end !important;
  }
  .st-align-self-sm-center {
    align-self: center !important;
  }
  .st-align-self-sm-baseline {
    align-self: baseline !important;
  }
  .st-align-self-sm-stretch {
    align-self: stretch !important;
  }
  .st-text-sm-start {
    text-align: left !important;
  }
  .st-text-sm-end {
    text-align: right !important;
  }
  .st-text-sm-center {
    text-align: center !important;
  }
}
@media (min-width: 750px) {
  .st-col-md {
    flex: 1 0 0%;
  }
  .st-col-md-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .st-col-md-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .st-col-md-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .st-col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .st-col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .st-col-md-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .st-col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .st-col-md-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .st-col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .st-col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .st-col-md-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .st-col-md-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .st-col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .st-d-md-block {
    display: block !important;
  }
  .st-d-md-flex {
    display: flex !important;
  }
  .st-d-md-inline-flex {
    display: inline-flex !important;
  }
  .st-d-md-none {
    display: none !important;
  }
  .st-justify-content-md-start {
    justify-content: flex-start !important;
  }
  .st-justify-content-md-end {
    justify-content: flex-end !important;
  }
  .st-justify-content-md-center {
    justify-content: center !important;
  }
  .st-justify-content-md-between {
    justify-content: space-between !important;
  }
  .st-justify-content-md-around {
    justify-content: space-around !important;
  }
  .st-justify-content-md-evenly {
    justify-content: space-evenly !important;
  }
  .st-align-items-md-start {
    align-items: flex-start !important;
  }
  .st-align-items-md-end {
    align-items: flex-end !important;
  }
  .st-align-items-md-center {
    align-items: center !important;
  }
  .st-align-items-md-baseline {
    align-items: baseline !important;
  }
  .st-align-items-md-stretch {
    align-items: stretch !important;
  }
  .st-align-content-md-start {
    align-content: flex-start !important;
  }
  .st-align-content-md-end {
    align-content: flex-end !important;
  }
  .st-align-content-md-center {
    align-content: center !important;
  }
  .st-align-content-md-between {
    align-content: space-between !important;
  }
  .st-align-content-md-around {
    align-content: space-around !important;
  }
  .st-align-content-md-stretch {
    align-content: stretch !important;
  }
  .st-align-self-md-auto {
    align-self: auto !important;
  }
  .st-align-self-md-start {
    align-self: flex-start !important;
  }
  .st-align-self-md-end {
    align-self: flex-end !important;
  }
  .st-align-self-md-center {
    align-self: center !important;
  }
  .st-align-self-md-baseline {
    align-self: baseline !important;
  }
  .st-align-self-md-stretch {
    align-self: stretch !important;
  }
  .st-text-md-start {
    text-align: left !important;
  }
  .st-text-md-end {
    text-align: right !important;
  }
  .st-text-md-center {
    text-align: center !important;
  }
}
@media (min-width: 990px) {
  .st-col-lg {
    flex: 1 0 0%;
  }
  .st-col-lg-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .st-col-lg-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .st-col-lg-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .st-col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .st-col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .st-col-lg-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .st-col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .st-col-lg-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .st-col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .st-col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .st-col-lg-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .st-col-lg-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .st-col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .st-d-lg-block {
    display: block !important;
  }
  .st-d-lg-flex {
    display: flex !important;
  }
  .st-d-lg-inline-flex {
    display: inline-flex !important;
  }
  .st-d-lg-none {
    display: none !important;
  }
  .st-justify-content-lg-start {
    justify-content: flex-start !important;
  }
  .st-justify-content-lg-end {
    justify-content: flex-end !important;
  }
  .st-justify-content-lg-center {
    justify-content: center !important;
  }
  .st-justify-content-lg-between {
    justify-content: space-between !important;
  }
  .st-justify-content-lg-around {
    justify-content: space-around !important;
  }
  .st-justify-content-lg-evenly {
    justify-content: space-evenly !important;
  }
  .st-align-items-lg-start {
    align-items: flex-start !important;
  }
  .st-align-items-lg-end {
    align-items: flex-end !important;
  }
  .st-align-items-lg-center {
    align-items: center !important;
  }
  .st-align-items-lg-baseline {
    align-items: baseline !important;
  }
  .st-align-items-lg-stretch {
    align-items: stretch !important;
  }
  .st-align-content-lg-start {
    align-content: flex-start !important;
  }
  .st-align-content-lg-end {
    align-content: flex-end !important;
  }
  .st-align-content-lg-center {
    align-content: center !important;
  }
  .st-align-content-lg-between {
    align-content: space-between !important;
  }
  .st-align-content-lg-around {
    align-content: space-around !important;
  }
  .st-align-content-lg-stretch {
    align-content: stretch !important;
  }
  .st-align-self-lg-auto {
    align-self: auto !important;
  }
  .st-align-self-lg-start {
    align-self: flex-start !important;
  }
  .st-align-self-lg-end {
    align-self: flex-end !important;
  }
  .st-align-self-lg-center {
    align-self: center !important;
  }
  .st-align-self-lg-baseline {
    align-self: baseline !important;
  }
  .st-align-self-lg-stretch {
    align-self: stretch !important;
  }
  .st-text-lg-start {
    text-align: left !important;
  }
  .st-text-lg-end {
    text-align: right !important;
  }
  .st-text-lg-center {
    text-align: center !important;
  }
}
@media (min-width: 1200px) {
  .st-col-xl {
    flex: 1 0 0%;
  }
  .st-col-xl-auto, .st-row-cols-xl-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .st-col-xl-12, .st-row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .st-col-xl-6, .st-row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .st-row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .st-col-xl-3, .st-row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .st-row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .st-row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .st-col-xl-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .st-col-xl-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .st-col-xl-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .st-col-xl-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .st-col-xl-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .st-col-xl-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .st-col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .st-col-xl-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .st-col-xl-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .st-d-xl-block {
    display: block !important;
  }
  .st-d-xl-flex {
    display: flex !important;
  }
  .st-d-xl-inline-flex {
    display: inline-flex !important;
  }
  .st-d-xl-none {
    display: none !important;
  }
  .st-justify-content-xl-start {
    justify-content: flex-start !important;
  }
  .st-justify-content-xl-end {
    justify-content: flex-end !important;
  }
  .st-justify-content-xl-center {
    justify-content: center !important;
  }
  .st-justify-content-xl-between {
    justify-content: space-between !important;
  }
  .st-justify-content-xl-around {
    justify-content: space-around !important;
  }
  .st-justify-content-xl-evenly {
    justify-content: space-evenly !important;
  }
  .st-align-items-xl-start {
    align-items: flex-start !important;
  }
  .st-align-items-xl-end {
    align-items: flex-end !important;
  }
  .st-align-items-xl-center {
    align-items: center !important;
  }
  .st-align-items-xl-baseline {
    align-items: baseline !important;
  }
  .st-align-items-xl-stretch {
    align-items: stretch !important;
  }
  .st-align-content-xl-start {
    align-content: flex-start !important;
  }
  .st-align-content-xl-end {
    align-content: flex-end !important;
  }
  .st-align-content-xl-center {
    align-content: center !important;
  }
  .st-align-content-xl-between {
    align-content: space-between !important;
  }
  .st-align-content-xl-around {
    align-content: space-around !important;
  }
  .st-align-content-xl-stretch {
    align-content: stretch !important;
  }
  .st-align-self-xl-auto {
    align-self: auto !important;
  }
  .st-align-self-xl-start {
    align-self: flex-start !important;
  }
  .st-align-self-xl-end {
    align-self: flex-end !important;
  }
  .st-align-self-xl-center {
    align-self: center !important;
  }
  .st-align-self-xl-baseline {
    align-self: baseline !important;
  }
  .st-align-self-xl-stretch {
    align-self: stretch !important;
  }
  .st-text-xl-start {
    text-align: left !important;
  }
  .st-text-xl-end {
    text-align: right !important;
  }
  .st-text-xl-center {
    text-align: center !important;
  }
}
@media (min-width: 1400px) {
  .st-col-xxl {
    flex: 1 0 0%;
  }
  .st-col-xxl-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .st-col-xxl-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .st-col-xxl-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .st-col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .st-col-xxl-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .st-col-xxl-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .st-col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .st-col-xxl-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .st-col-xxl-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .st-col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .st-col-xxl-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .st-col-xxl-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .st-col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .st-d-xxl-block {
    display: block !important;
  }
  .st-d-xxl-flex {
    display: flex !important;
  }
  .st-d-xxl-inline-flex {
    display: inline-flex !important;
  }
  .st-d-xxl-none {
    display: none !important;
  }
  .st-justify-content-xxl-start {
    justify-content: flex-start !important;
  }
  .st-justify-content-xxl-end {
    justify-content: flex-end !important;
  }
  .st-justify-content-xxl-center {
    justify-content: center !important;
  }
  .st-justify-content-xxl-between {
    justify-content: space-between !important;
  }
  .st-justify-content-xxl-around {
    justify-content: space-around !important;
  }
  .st-justify-content-xxl-evenly {
    justify-content: space-evenly !important;
  }
  .st-align-items-xxl-start {
    align-items: flex-start !important;
  }
  .st-align-items-xxl-end {
    align-items: flex-end !important;
  }
  .st-align-items-xxl-center {
    align-items: center !important;
  }
  .st-align-items-xxl-baseline {
    align-items: baseline !important;
  }
  .st-align-items-xxl-stretch {
    align-items: stretch !important;
  }
  .st-align-content-xxl-start {
    align-content: flex-start !important;
  }
  .st-align-content-xxl-end {
    align-content: flex-end !important;
  }
  .st-align-content-xxl-center {
    align-content: center !important;
  }
  .st-align-content-xxl-between {
    align-content: space-between !important;
  }
  .st-align-content-xxl-around {
    align-content: space-around !important;
  }
  .st-align-content-xxl-stretch {
    align-content: stretch !important;
  }
  .st-align-self-xxl-auto {
    align-self: auto !important;
  }
  .st-align-self-xxl-start {
    align-self: flex-start !important;
  }
  .st-align-self-xxl-end {
    align-self: flex-end !important;
  }
  .st-align-self-xxl-center {
    align-self: center !important;
  }
  .st-align-self-xxl-baseline {
    align-self: baseline !important;
  }
  .st-align-self-xxl-stretch {
    align-self: stretch !important;
  }
  .st-text-xxl-start {
    text-align: left !important;
  }
  .st-text-xxl-end {
    text-align: right !important;
  }
  .st-text-xxl-center {
    text-align: center !important;
  }
}
.complete-customer-experience {
  padding: 5rem 0 0;
  position: relative;
  overflow: hidden;
}
@media (min-width: 750px) {
  .complete-customer-experience {
    padding: 6rem 0 0;
  }
}
.complete-customer-experience .floating-logo-element {
  position: absolute;
  width: 36.5rem;
  right: 0;
  top: 50%;
  transform: translateY(-50%) translateX(15%);
  z-index: -1;
}
@media (max-width: 749px) {
  .complete-customer-experience .floating-logo-element {
    width: 14.8rem;
    top: auto;
    bottom: 21%;
    transform: translateY(0) translateX(15%);
  }
}
.complete-customer-experience .subtitle-filled {
  background-color: #273CFF;
  color: #ffffff;
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: 0.25rem;
  padding: 0.2rem 0.7rem;
  border-radius: 0.2rem;
  margin-bottom: 2.5rem;
}
@media (min-width: 750px) {
  .complete-customer-experience .subtitle-filled {
    font-size: 2.1rem;
    letter-spacing: 0.5rem;
    padding: 0.5rem 2rem;
    border-radius: 0.4rem;
    margin-bottom: 2rem;
    padding: 0.5rem 2rem;
  }
}
.complete-customer-experience .content-holder {
  font-size: 2.1rem;
  font-weight: 600;
  color: #0d112c;
}
@media (min-width: 750px) {
  .complete-customer-experience .content-holder {
    font-size: 2.4rem;
  }
}
.complete-customer-experience .content-holder h3 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
  color: inherit;
  font-weight: normal;
}
@media (min-width: 750px) {
  .complete-customer-experience .content-holder h3 {
    font-size: 3rem;
    margin-bottom: 3rem;
  }
}
.complete-customer-experience .content-holder h3 strong {
  font-weight: 600;
}
.complete-customer-experience .content-holder .btn {
  margin-top: 0.5rem;
}
@media (min-width: 750px) {
  .complete-customer-experience .content-holder .btn {
    margin-top: 2rem;
  }
}
.complete-customer-experience .bottom-floating-image {
  margin-top: 10rem;
  pointer-events: none;
}
@media (min-width: 750px) {
  .complete-customer-experience .bottom-floating-image {
    margin-top: -23rem;
  }
}
